CONFIG_COMEDI=m
#
# Comedi Features
#
# CONFIG_COMEDI_RT is not set
CONFIG_ADVDRV_CORE=m

#
# Hardware device drivers
#
#CONFIG_COMEDI_PCL724=m
#CONFIG_COMEDI_PCL725=m
#CONFIG_COMEDI_PCL726=m
#CONFIG_COMEDI_PCL812=m
#CONFIG_COMEDI_PCM3730=m
